@charset "UTF-8";

/* Estilos para Telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    text-align: center;
    background-color: lightblue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.581);
}

header > menu {
    text-align: right;
}

menu ul {
    list-style-type: none;
}

menu li {
    display: inline-block;
    color: darkblue;
    font-weight: bold;
    padding: 8px;
    margin: 3px;
}

li:hover {
    background-color: rgb(154, 154, 214);
    border-radius: 5px 5px 0px 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.508);
    transition-duration: 1s;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px;
    font-weight: bolder;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}