@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.257);
    }

    main {
        width: 768px;
    }
}