@charset "UTF8";

* {
     font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1F1F1, #336699);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #040e229d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1849db;
    text-align: center;
    text-shadow: 1px 1px 2px #1c35809c;
}

h2 {
    color: #08348C;
}

p {
    text-align: justify;
}